The requirements.txt file for the hacking tool is:

requests==2.28.1
json==4.4.0
tkinter==8.7.0
These are the Python libraries that are required to run the tool. The requests library is used to make HTTP requests to the IPinfo.io and Whois Lookup APIs. The json library is used to parse JSON data. The tkinter library is used to create the graphical user interface (GUI) for the tool.

To install the required libraries, you can use the following command:

pip install -r requirements.txt
This will install all of the libraries listed in the requirements.txt file to your computer.
